@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('../fonts/ProximaNova-Light.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('../fonts/ProximaNova-Reg.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: bold;
  font-display: block;
  src: url('../fonts/ProximaNova-Bold.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url('../fonts/ProximaNova-Black.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('../fonts/ProximaNova-Xbold.otf');
}