@media screen and (max-width: 1199px){
	.main-section .custom-container{padding: 150px 0;}
	h1,.main-title{
		font-size: 40px;
    	line-height: 54px;
		margin-bottom: 90px;
	}
	.block{
		padding: 0 45px;
		margin-bottom: 70px;
		&__name{margin-bottom: 30px;}
	}
	.documents-section img{
		right: -30px;
		max-width: 600px;
	}
}
@media screen and (max-width: 991px){
	.documents-section .caption{width: 50%;}
}
@media screen and (max-width: 767px){
	.wrapper{font-size: 16px;line-height: 24px;letter-spacing: 0.3px;}
	section{padding: 0 30px;}
	.custom-item-sm-1{width: 100%;}
	.main-section {
		background-position: top 140px center;
		.custom-container{padding: 136px 0;}
	}
	h1, .main-title{font-size: 30px;line-height: 37px;letter-spacing: 0.9px;margin-bottom: 52px;}
	h1:before,.main-title:before{
		width: 20px;
		height:19px;
	}
	.block{
		margin-bottom: 44px;
		padding: 0;
		&__image{
			margin-bottom: 20px;
			svg{
				width: 34px;
			}
		}
		&__name{
			font-size: 22px;
			line-height: 27px;
			letter-spacing: 0.44px;
			margin-bottom: 35px;
		}
	}
	.documents-section .custom-container{
		padding-top: 197px;
		background-size: 190px;
    	background-position: left bottom 0px;
		img {
		    right: -195px;
    		max-width: 460px;
    		top: -38px;
		}
		&:after{
			@include pseudo;
			top: 0;
			bottom: 0;
			left: 100%;
			width: 300%;
			background-color: #1F65D9;
			z-index: -1;
		}
		.caption{width: 65%;}
		span{
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.32px;
		}
	}
	.secondary-title{
		font-size: 22px;
		line-height: 27px;
		letter-spacing: 0.64px;
		margin-bottom: 48px;
	}
	.documents-section .content-center{width: 100%;margin-top: 11px;}
	.custom-btn {
	    font-size: 16px;
		line-height: 18px;
	    padding: 18px 50px;
	    vertical-align: middle;
	    min-width: 280px;
	}
	.product-section .custom-container{padding-top: 37px;}
}